{% extends "layout.html" %}

{% block content %}
<h1>Sign In</h1>

<!-- Traditional Username/Password Login Form -->
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="Jumbotron">
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </div>
</form>

<!-- Divider for Alternative Sign-In Methods -->
<h2>OR</h2>

<!-- Microsoft Sign-In Button -->
<div class="ms-signin">
    <a href="{{ auth_url }}">
        <img src="{{ url_for('static', filename='images/sign-in-with-ms.svg') }}" 
             alt="Sign in with Microsoft" 
             style="width: 250px; height: auto;" />
    </a>
</div>

{% endblock %}
